 /*********** CONTENEDOR GENERAL DEL HOME*********/
.home__container{
    background-color: #f3f0ef;
    display: grid;
    grid-template-rows: 1fr auto; /* La primera fila ocupa todo el alto disponible, la segunda fila se ajusta automáticamente al contenido */
    height: 100vh; /* Esto asegura que el contenedor ocupe todo el alto de la ventana */
    font-family: Georgia, 'Times New Roman', Times, serif;    
}
 /*********** CONTENEDOR  CUERPO DEL HOME -- MENOS EL FOOTER  *********/
.home__body{
    /* background-color: rgb(19, 57, 110); */
    height: 100%;
    width: 100%; 
    display: flex;
    flex-direction: column;
   
}


/********** BANER DE POKEDEX GRANDE **********/
.home__body-banner{
    height: 70%;
    padding: 0 15%;
    display: flex;
    justify-content: center;
    align-items: center; 
  
   
}
.home__body-banner img{
    aspect-ratio:2 ;

}




/*********** CONTENEDOR DE LOS TEXTOS DE SALUDO LOGIN Y FORMULARIO *********/
.home__body-saludo-login{
/* background-color: rgb(157, 98, 205); */
color: #b7b1b2;
padding: .8em; 

height: 100%;
display: grid;
align-content: center;
text-align: center; 
}


/***********  <h2>Hello Trainer !</h2>  *********/
.home__body-saludo-login h2{
color: black;
}


/***********  <p>To start give your name</p>  *********/
.home__body-saludo-login p{
    color: rgb(239, 44, 10);
    }



/***********  <img /img/otros/footer_Pokedex_png_SFondo  cortito mas alto.png" alt="" /> *********/
.home__footer{
    margin-bottom: 30%;
/* align-self: end;  */
}

