@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

*{
    box-sizing: border-box;
}



html {
    /* font-family: 'Nunito Sans', sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;    
}

body {
    margin: 0;
}

h1,h2 ,h3 ,h4, p, ul, select {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;    
}

ul {
    list-style: none;
    padding-left:  0;
    font-family: Georgia, 'Times New Roman', Times, serif;    
}

input{
    outline: none;
    font-family: inherit;
}

button{
    font-family: inherit;
}

select {
    font-family: inherit;
}

img {
    width: 100%;
    display: block;
  }